{% extends "accounts/base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}

<style>

    body{
        display:flex;
        justify-content:center;
        align-items:center;
        min-height:100vh;
    }

    .login-box{
        background:white;
        padding:30px;
        border-radius:10px;

        width:300px;

        box-shadow:0px 0px 10px gray;
    }

    h1{
        text-align:center;
    }

    input{
        width:100%;
        padding:10px;
        margin-top:5px;
        margin-bottom:15px;
        box-sizing:border-box;
    }

    button{
        width:100%;
        padding:10px;
        background-color:#007bff;
        color:white;
        border:none;
        border-radius:5px;
        cursor:pointer;
    }

    .link-text{
        text-align:center;
    }

</style>

{% endblock %}

{% block content %}

<div class="login-box">

    <h1>User Login</h1>

    <form method="POST">

        {% csrf_token %}

        <label>Username</label>

        <input
            type="text"
            name="username"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <p class="link-text">
        Don't have an account?
        <a href="{% url 'register' %}">Register</a>
    </p>

    <p class="link-text">
        <a href="{% url 'forgot_password' %}">
            Forgot Password?
        </a>
    </p>

</div>

{% endblock %}